$player1: #FEFF35;
$player2: #F14750;

table.game
{
    border-collapse: collapse;
    table-layout: fixed;
    aspect-ratio: 1;
    height: 80vh;
}

.cell{
    text-align: center;
    border: 3px solid #0069A8;
    width: 10%;
    height: 10%;
}

.cell-null{
    @extend .cell;
}