<%= stylesheet_link_tag "games" %>
<%= javascript_include_tag %>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class ="col-md-12">
      <table class="game">
        <% (1..@game.height).each do |h| %>
        <tr>
          <% (1..@game.width).each do |w| %>
          <td class="border-cell"></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Learn</h2>
    </div>
  </div>
  <div class="row">
    <%= link_to 'Back', games_path %>
  </div>
</div>

