<%= javascript_pack_tag 'botgraph' %>
<h1><%= @bot.name %> Bot</h1>

<% @nodes.each do |node| %>
  <%= node.id %>
<% end %>

<div id='bot-graph' class='vis-network'>
</div>

<%= link_to('Back', game_path(@game)) %>
