$player1: #FEFF35;
$player2: #F14750;

table.game 
{
    border-collapse: collapse;
    table-layout: fixed;
    aspect-ratio: 1;
    height: 80vh;
}

.cell{
    text-align: center;
}

.border-cell{
    @extend .cell;
    border: 3px solid #0069A8; 
}